@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

:root{
    --color-1: #03D3FD;
    --color-2: #9AE9F9;

    --color-3: #1092C5;
    --color-4: #00719E;

    --color-5: #018BF7;
    --color-6: #98C5E8;

    --color-7: #0063F4;
    --color-8: #67A2F7;

    --color-9: #00844b;
    --color-10: #0BF719;

    --color-b: #000000;
    --color-w: #fff;
    --color-g: #8F9090;
    --color-gg: #272727;

    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --font-tertiary: 'Lato', serif;
    --font-quaternary: 'Montserrat', sans-serif;
    --font-quinary: 'Oswald', sans-serif;

}


@keyframes beat {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

html, body{
    min-height: 100vh;
    color: var(--color-b);
    font-family: var(--font-secondary);
    font-size: 16px;
}
@media (max-width: 768px) {
    html {
        font-size: 14px; /* Smaller base font size on smaller screens */
    }
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--color-3);
}
.container_header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0.5em;
}
@media (min-width: 769px) {
    .container_header {
        flex-direction: row; /* Row layout for larger screens */
        justify-content: space-between;
    }
}
.container_header .logo{
    animation: beat 2s infinite;
    cursor: pointer;
}
.container_header .navigation {
}

.container_header .navigation nav{
    display: flex;
    gap: 1em;
}

.container_header .navigation nav a{
    background-color: var(--color-1);
    padding: 4px 6px;
    border-radius: 10px;
    font-family: var(--font-quaternary);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1024px) { /* Supposons que les tablettes aient une largeur maximale de 1024px */
    .container_header .navigation nav a:active {
        background-color: var(--color-2);
        color: var(--color-w);
        font-weight: lighter;
        transform: scale(1.1);
    }
}
@media screen and (min-width: 1025px) { /* Pour les écrans plus grands que 1024px */
    .container_header .navigation nav a:hover {
        background-color: var(--color-2);
        color: var(--color-w);
        font-weight: lighter;
        transform: scale(1.1);
    }
}


main {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.container_main{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    background-color: var(--color-5);
    padding: 3em;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: var(--color-6);
    padding: 0.5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    color: var(--color-g);
    font-size:  var(--font-tertiary);
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
}
footer p:hover {
    color: var(--color-w)
}


.home_view{
    background-color: var(--color-6);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.home_view .title_home{
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
}
.title_home span {
    font-size: 1.5em;
    font-family: var(--font-secondary);
}
.title_home em {
    font-size: 0.8em;
    font-weight: 600;
}

.home_view .text_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.text_home p{
    font-size: 0.9em;
    padding: 0.5em;
}

.text_home .img_bird{
    background-color: var(--color-8);
    padding: 0.5em;

    filter: drop-shadow(4px 3px 5px rgba(0, 0, 0, 0.735));
}
.img_bird img{
    filter: drop-shadow(4px 3px 5px rgba(205, 208, 210, 0.735));
}


.about_view {
    background-color: var(--color-8);
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.about_view .container_about{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.container_about .presentation_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.presentation_about .title_about{
    font-size: 1.5em;
    font-family: var(--font-tertiary);
    font-weight: bold;
}
.presentation_about .sub_p_title{
    font-size: 0.9em;
    font-weight: 600;
}
.container_about .content_presentation_about{
    display: flex;
    flex-direction: column;
}
.container_about .content_presentation_about p{
    font-size: 0.9em;
    font-family: var(--font-secondary);
}

.about_view .this_app_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
}
.this_app_about span{
    font-size: 1.5em;
    font-family: var(--font-tertiary);
    font-weight: bold;
}
.this_app_about div {
    display: flex;
    flex-direction: column;
}
.this_app_about div p {
    font-size: 0.9em;
    font-family: var(--font-secondary);
}



.newnote_view {
    background-color: var(--color-8);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    flex: 1;
    padding: 1em;
    align-items: center;
    gap: 1em;
    border-radius: 0.5em;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
.newnote_view span {
    font-size: 1.5em;
    font-family: var(--font-quaternary);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-gg);
}

.newnote_view .sub_container_newnote{
    height: 100%;
    width: 100%;
    padding: 1em;
    flex: 1;
    display: flex;
    flex-direction: column;
}
#form_newnote{
    padding: 1em;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex: 1;
}
#form_newnote .first_parts_form {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-4);
}
.first_parts_form div {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    align-items: center;
    padding: 0.3em 1em;
}
.first_parts_form div label{
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}
.first_parts_form div input{
    padding: 0.3em 0.7em;
    width: 25%;
    border: 2px solid var(--color-3);
    border-radius: 0.5em;
}
.first_parts_form div input:hover{
    border: 2px solid var(--color-6);
}
.first_parts_form div textarea {
    width: 100%;
    height: 100%;
    padding: 1em;
    resize: none;
    border-radius: 0.5em;
    border: 2px solid var(--color-3);
}
.first_parts_form div textarea:hover{
    border: 2px solid var(--color-6);
}
#form_newnote .second_parts_form {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 1em;
    align-items: center;
    justify-content: center;
    background-color: var(--color-3);
}
.second_parts_form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}
.second_parts_form div label{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 700;
}
.second_parts_form div input{
    padding: 0.2em 0.5em;
    border-radius: 0.5em;
    border: 2px solid var(--color-7);
    width: 70%;
}
.second_parts_form div input:hover{
    border: 2px solid var(--color-8);
}
.second_parts_form div select {
    padding: 0.2em 0.5em;
    border-radius: 0.3em;
    width: 90%;
    border: 2px solid var(--color-7);
    cursor: pointer;
}
.second_parts_form div select:hover{
    border: 2px solid var(--color-8);
}
.second_parts_form div button {
    border: none;
    outline: none;
    padding: 0.3em 0.4em;
    border-radius: 0.4em;
    background-color: var(--color-9);
    color:  #fff;
    cursor: pointer;
}
.second_parts_form div button:hover{
    background-color: var(--color-10);
    color: var(--color-gg);
}

/* gestion des erreurs*/
#error-form_newnote{
    color: #FF0D0D;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: bolder;
    font-style: italic;
}

#error-title, #error-content, 
#error-file_name, #error-extension_file{
    color: #FF0D0D;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: lighter;
    font-style: italic;
}